/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.debug [class*="col-"] {
  background-color: rgba(238, 11, 11, .1);
  border: 1px solid black;
}

.mc-btn-green {
  background-color: #2FBC9C;
  color: white;
}

.mc-border-bottom {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.mc-marginbottom100 {
  margin-bottom: 100px;
}

.mc-marginbottom20{
  margin-bottom: 20px;
}

.mc-inline {
  display: inline-block;
}

@media all and (max-width: 767px) {
  img {
    width: 50%;
  }
  .wrapper-xs-80 {
    width: 80%;
    margin: 3% auto;
    /* background-color: rgba(238, 11, 11, .1); */
    /* text-align: center; */
  }  
  .wrapper-xs-50 {
    width: 50%;
    margin: 3% auto;
    /* background-color: rgba(238, 11, 11, .1); */
    /* text-align: center; */
  /* }  
  .text-xs-left {
    text-align: left;
  }
  .text-xs-right {
    text-align: right;
  }
  .text-xs-center {
    text-align: center;
  }
  .text-xs-justify {
    text-align: justify;
  } */
}
}

@media all and (min-width: 768px) {
  img {
    width: 20%;
  }
}
/* /GENERAL */

/* HEADER */
header {
  color: white;
}

/* header img {
  width: 80%;
} */

nav {
  min-height: 100px;
}

.nav-top {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #2C3E50;
  position: fixed;
  z-index: 999;
}

#jumbotron.container-fluid {
  /* min-height: 600px; */
  background-color: #2FBC9C;
}
/* /HEADER */

/* MAIN */
#portfolio.container-fluid {
  background-color: white;
  margin-bottom: 3%;
  /* text-align: center; */
}

#portfolio img {
  width: 100%;
  margin-bottom: 5%;
  border-radius: 10px;
}

#about.container-fluid {
  background-color: #2FBC9C;
  font-size: 1.2em;
  margin-bottom: 3%;
  color: white;
  /* text-align: center; */
}

#contact.container-fluid {
  background-color: white;
  margin-bottom: 3%;
  /* text-align: center; */
}
/* /MAIN */

/* FOOTER */
#footer-top.container-fluid {
  background-color: #3A546E;
  color: white;
}

#footer-top h5 {
  margin-top: 10%;
}

#footer-top a {
  color: white;
}

#footer-bottom.container-fluid {
  width: 100%;
  height: 100px;
  line-height: 100px;
  background-color: #2C3E50;
  color: white;
}

/* /FOOTER */
